* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  width: 100vw;
  height: 100vh;
  background: url('./images/board-bg.png') no-repeat;
  background-size: cover;
}

#status-bar {
  width: 100%;
  height: 10vw;
  background: url('./images/state-panel-bg.png') no-repeat;
  background-size: cover;
}

.game-area {
  padding-top: 3vh;
}

#map {
  margin-inline: auto;
  height: 60vh;
  aspect-ratio: 1 / 1;
  table-layout: fixed;

  @media (max-aspect-ratio: 1/1) {
    width: 60vw;
    height: 60vw;
  }
}

.cell {
  padding: 5px;
  border: 1px solid rgb(103, 101, 168);
  background-color: rgba(103, 101, 168, 0.4);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
