* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  width: 100vw;
  height: 100vh;
  background: url('./images/board-bg.png') no-repeat;
  background-size: cover;
}

#status-bar {
  position: relative;
  width: 100%;
  height: 10vw;
  font-family: 'Marmelad', sans-serif;
  color: #ffffff;
  background: url('./images/state-panel-bg.png') no-repeat;
  background-size: cover;
}

#beings-for-win {
  position: absolute;
  top: 0.7vw;
  left: 31vw;
  display: flex;
  gap: 15px;
  height: 4.5vw;

  img {
    height: 100%;
  }
}

.being-counter {
  display: flex;
  align-items: flex-end;
  gap: 0.3vw;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  span {
    margin-left: -1vw;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
  }
}

.stat-moves {
  position: absolute;
  top: 1vw;
  left: 47.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  font-size: 2vw;
}

.stat-score {
  position: absolute;
  top: 1.2vw;
  left: 58vw;
  font-size: 2.5vw;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

.game-area {
  padding-top: 3vh;
}

#map {
  margin-inline: auto;
  height: 60vh;
  aspect-ratio: 1 / 1;
  table-layout: fixed;

  @media (max-aspect-ratio: 1/1) {
    width: 60vw;
    height: 60vw;
  }
}

.cell {
  position: relative;
  width: 64px;
  height: 64px;
  padding: 5px;
  border: 1px solid rgb(103, 101, 168);
  background: rgba(103, 101, 168, 0.4);
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./images/cell-hover-bg.png') no-repeat center/contain;
    opacity: 0;
    transform: scale(0);
    transition:
      transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity 0.25s ease-out;
  }

  &:hover {
    &::before {
      transform: scale(1.1);
      opacity: 1;
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
    }
  }

  &.selected {
    &::before {
      transform: scale(1.1);
      opacity: 1;
      background-image: url('./images/cell-selected-bg.png');
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
    }
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}

#game-message {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-content: center;
  height: 6vw;
  min-height: 80px;
  padding: 10px;
  font-family: 'Marmelad', sans-serif;
  text-align: center;
  background-image: url('./images/game-footer.png');
  background-repeat: no-repeat;
  background-size: cover;

  p {
    color: #fff;
    font-size: clamp(1.5rem, 2.5vw, 2.5vw);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
