* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  width: 100vw;
  height: 100vh;
  background: url('./images/board-bg.png') no-repeat;
  background-size: cover;
}

#status-bar {
  width: 100%;
  height: 10vw;
  background: url('./images/state-panel-bg.png') no-repeat;
  background-size: cover;
}

.game-area {
  padding-top: 3vh;
}

#map {
  margin-inline: auto;
  height: 60vh;
  aspect-ratio: 1 / 1;
  table-layout: fixed;

  @media (max-aspect-ratio: 1/1) {
    width: 60vw;
    height: 60vw;
  }
}

.cell {
  position: relative;
  width: 64px;
  height: 64px;
  padding: 5px;
  border: 1px solid rgb(103, 101, 168);
  background: rgba(103, 101, 168, 0.4);
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./images/cell-hover-bg.png') no-repeat center/contain;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity 0.25s ease-out;
  }

  &:hover {
    &::before {
      transform: scale(1.1);
      opacity: 1;
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
    }
  }

  &.selected {
    &::before {
      transform: scale(1.1);
      opacity: 1;
      background-image: url('./images/cell-selected-bg.png');
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
    }
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}
